* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: "Trebuchet MS";
}

@media screen and (min-width: 1201px) {
    header {
        background-color: #5b191a;
        height: 30vh;
        display: flex;
        justify-content: space-between;

        .headerlogo {
            img {
                width: 200%;
                padding: 5vw 0 0 40%;
            }
        }

        .banner {
            padding-right: 15vw;
            padding-top: 5%;
            img {
                width: 130%;
            }
        }
    }

    nav {
        background-color: black;
        height: 10vh;
        ul {
            margin-top: 0;
            padding-top: 1%;
            padding-left: 1%;
            list-style: none;
            display: flex;
            li {
                padding: 0 1%;

                a {
                    color: white;
                    font-size: 3vw;
                }
            }
        }
    }

    .day {
        p {
            text-align: right;
            font-size: 1.7vw;
            padding: 4%;
        }
    }

    .contents {
        padding: 0 7%;

        h1 {
            background-color: #c4c4c4;
            font-weight: normal;
            padding: 1% 0 1% 3%;
            margin-bottom: 4%;
            font-size: 2.5vw;
        }

        .news {
            display: flex;
            justify-content: space-between;
            .article2 {
                margin: 0 4em;
            }

            img {
                width: 100%;
                height: auto;
                vertical-align: bottom;
            }
            p {
                background-color: black;
                color: white;
                margin-top: 0;
                font-size: 1.6vw;
                text-align: center;
                padding: 4% 6.5%;
            }
        }
    }

    .contents2 {
        @extend .contents;
        margin-top: 5%;
        .article3 {
            img {
                object-fit: cover;
                height: 75%;
            }
        }
    }

    .adv {
        text-align: center;
        margin-top: 10vh;
        margin-bottom: 5vh;
        img {
            width: 80%;
        }
    }

    .product {
        padding: 0 7%;
        display: grid;
        grid-template-columns: 42% 42%;
        gap: 1vw 10vw;
        margin-left: 5%;

        .intro {
            height: 90%;
            width: 90%;
            overflow: hidden;
            text-align: center;
            margin: 0 auto;

            img {
                margin: auto;
                height: 80%;
                vertical-align: bottom;
                margin-left: -27%;
            }
            p {
                background-color: black;
                color: white;
                height: 7vh;
                font-size: 1.6vw;
                text-align: center;
                padding: 4% 4%;
            }
        }
    }

    footer {
        background-color: black;
        height: 30vh;
        text-align: center;
        ul {
            list-style: none;
            padding-left: 5%;
            li {
                float: left;
                padding: 3% 2% 2% 2%;
            }
            a {
                text-decoration: none;
                color: white;
                font-size: 1.8vw;
            }
        }
        img {
            float: right;
            width: 25%;
            padding-top: 2%;
            padding-right: 5%;
        }

        p {
            color: white;
            font-size: 1.8vw;
            padding-top: 10%;
        }
    }
}

@media screen and (max-width: 480px) {
    body {
        text-align: center;
        header {
            background-color: #5b191a;
            height: 25vh;
            text-align: center;

            .headerlogo {
                img {
                    width: 70%;
                    padding-top: 10%;
                }
            }

            .banner {
                img {
                    display: none;
                }
            }
        }

        nav {
            background-color: black;
            height: 8vh;
            ul {
                margin-top: 0;
                padding-top: 1%;
                list-style: none;
                display: flex;
                justify-content: center;
                li {
                    padding: 1% 3%;

                    a {
                        color: white;
                        font-size: 5vw;
                    }
                }
            }
        }

        .day {
            p {
                display: none;
            }
        }

        .contents3 {
            padding: 9% 0 0 0;

            h1 {
                background-color: #c4c4c4;
                height: 7vh;
                font-weight: normal;
                font-size: 6.5vw;
                padding: 4% 3% 3% 3%;
                margin-bottom: 4%;
            }

            .news {
                display: flex;
                flex-direction: column;
                align-items: center;
                .article1,
                .article2,
                .article3 {
                    padding: 7vw;
                    width: 80%;
                }

                img {
                    width: 100%;
                    height: auto;
                    vertical-align: bottom;
                }
                p {
                    background-color: black;
                    color: white;
                    height: 13vw;
                    font-size: 4vw;
                    padding: 5% 10%;
                }
            }
        }

        .contents4 {
            @extend .contents3;
            padding-top: 3%;
        }

        .adv {
            img {
                display: none;
            }
        }

        .product {
            display: flex;
            flex-direction: column;
            align-items: center;

            .intro {
                padding: 7vw;
                width: 80%;

                img {
                    width: 100%;
                    height: auto;
                    vertical-align: bottom;
                }
                p {
                    background-color: black;
                    color: white;
                    height: 13vw;
                    font-size: 4vw;
                    padding: 5% 15%;
                }
            }
        }

        footer {
            background-color: black;
            height: 50vh;
            margin-top: 20%;
            img {
                width: 60%;
                padding-top: 15%;
            }

            ul {
                list-style: none;
                margin: 0 12%;
                display: flex;
                justify-content: space-around;
                li {
                    margin-top: 5vh;
                }
                a {
                    text-decoration: none;
                    color: white;
                    font-size: 5vw;
                }
            }

            p {
                color: white;
                font-size: 3vw;
                padding-top: 8%;
            }
        }
    }
}

@media screen and (min-width: 481px) and (max-width: 1200px) {
    header {
        background-color: #5b191a;
        height: 30vw;
        display: flex;
        justify-content: space-between;

        .headerlogo {
            img {
                width: 25vw;
                padding: 7vw 0 0 10vw;
            }
        }

        .banner {
            padding-right: 5vw;
            padding-top: 5%;
            img {
                width: 50vw;
            }
        }
    }

    nav {
        background-color: black;
        height: 10vh;
        ul {
            margin-top: 0;
            padding-top: 1%;
            list-style: none;
            display: flex;
            li {
                padding: 0 2%;

                a {
                    color: white;
                    font-size: 3vw;
                }
            }
        }
    }

    .day {
        p {
            text-align: right;
            font-size: 1.7vw;
            padding: 4%;
        }
    }

    .contents5 {
        padding: 0 7%;

        h1 {
            background-color: #c4c4c4;
            font-weight: normal;
            padding: 1% 0 1% 3%;
            margin-bottom: 4%;
            font-size: 3vw;
        }

        .news {
            display: grid;
            grid-template-columns: 45% 45%;
            margin-left: 4%;
            gap: 3vw 5vw;

            img {
                width: 100%;
                height: auto;
                vertical-align: bottom;
            }
            p {
                background-color: black;
                color: white;
                margin-top: 0;
                font-size: 2vw;
                text-align: center;
                padding: 4% 6%;
            }
        }
    }

    .contents6 {
        @extend .contents5;
        margin-top: 5%;
        .article3 {
            img {
                object-fit: cover;
                height: 72%;
            }
        }
    }

    .product {
        padding: 0 7% 5% 7%;
        display: grid;
        grid-template-columns: 45% 45%;
        margin-left: 4%;
        gap: 3vw 5vw;
        .intro {
            
            img {
                width: 100%;
                height: 70%;
                vertical-align: bottom;
            }

            p {
                background-color: black;
                color: white;
                margin-top: 0;
                font-size: 2vw;
                text-align: center;
                padding: 4% 6%;
            }
        }
    }

    .adv {
        text-align: center;
        margin-top: 10vh;
        margin-bottom: 5vh;
        img {
            width: 80%;
        }
    }

    footer {
        background-color: black;
        height: 30vw;
        text-align: center;
        ul {
            list-style: none;
            padding-left: 5%;
            li {
                float: left;
                padding: 3% 2% 2% 2%;
            }
            a {
                text-decoration: none;
                color: white;
                font-size: 2.5vw;
            }
        }
        img {
            float: right;
            width: 25vw;
            padding-top: 2%;
            padding-right: 5%;
        }

        p {
            color: white;
            font-size: 2vw;
            padding-top: 10%;
        }
    }
}
